.header {
    width: 100%;
    padding: 20px 0;
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
}

.box {
    @include minha-caixa;
    background-color: red;
}

.teste {
    width: 100px;
    padding: 50px;
}